[Unit]
Description=vault
After=network-online.target
Wants=network-online.target

[Service]
Restart=on-failure
RestartSec=20
TimeoutStartSec=2

ExecStart=/usr/bin/vault server -config=/etc/vault/vault.config
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
